<plugin name='burning-image' version='0.5.1' grailsVersion='1.2 &gt; *'>
  <author>Pawel Gdula</author>
  <authorEmail>pawel.gdula@burningice.pl</authorEmail>
  <title>Burning Image</title>
  <description>Image manipulation plugin that allows you to easily attach images to any domain class via an annotation. You can also configure the plugin to scale images and perform other operation.</description>
  <documentation>http://code.google.com/p/burningimage/</documentation>
  <type>BurningImageGrailsPlugin</type>
  <resources>
    <resource>pl.burningice.plugins.image.DbContainerImageController</resource>
    <resource>pl.burningice.plugins.image.ast.Image</resource>
    <resource>pl.burningice.plugins.image.ast.test.TestDbContainerDomainFirst</resource>
    <resource>pl.burningice.plugins.image.ast.test.TestDbContainerDomainSecond</resource>
    <resource>pl.burningice.plugins.image.ast.test.TestDbContainerDomainThird</resource>
    <resource>pl.burningice.plugins.image.ast.test.TestDomain</resource>
    <resource>pl.burningice.plugins.image.ast.test.TestDomainSecond</resource>
    <resource>pl.burningice.plugins.image.ast.test.Underscored_Test_Domain</resource>
    <resource>pl.burningice.plugins.image.BurningImageService</resource>
    <resource>pl.burningice.plugins.image.ImageUploadService</resource>
    <resource>pl.burningice.plugins.image.ast.ImageService</resource>
    <resource>pl.burningice.plugins.image.BurningImageTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>